body {
    margin-top: 115px;
    margin-bottom: 94px;
    background-color: #22254B;
}

#img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px 20px 0px;
    background-color: #373B69;
    z-index: 100;
    display: none;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 30px;
    color: #fff;
    padding: 15px 25px;
    width: 100%;
    max-width: 700px;
    background-color: #373B69;
    border: 1px solid #22254B;
    border-radius: 40px;
    outline: none;
}

.input::placeholder {
    color: #fff !important;
    font-size: 30px;
}

.input:focus {
    background-color: #22254B;
}

.bi-search {
    margin-left: -70px;
    color: #fff;
}

.list {
    gap: 30px;
}

.card {
    background-color: #373B69;
}

.boxx {
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #373b6963;
}

.none {
    display: none;
}